*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.dll
*.exe
*.o
*.opt
*.so
*~

Makefile.in
Makefile
core
core.*
.deps

/aclocal.m4
/autom4te.cache
/compile
/config.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/examples/domain_events
/examples/get_all_domain_stats
/examples/get_cpu_stats
/examples/list_domains
/examples/list_secrets
/examples/node_info
/html/
/libvirt/META
/libvirt/libvirt_generated.c
/libvirt/libvirt_version.ml
/libvirt/local/META.libvirt
/missing
/ocaml-libvirt-*.exe
/ocaml-libvirt-*.tar.gz
/run
/stamp-h1
