*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.dll
*.exe
*.o
*.opt
*.so
*~
Make.rules
Makefile
core
core.*
/META
/aclocal.m4
/autom4te.cache
/config.cache
/config.h
/config.log
/config.status
/configure
/examples/domain_events
/examples/get_all_domain_stats
/examples/get_cpu_stats
/examples/list_domains
/examples/list_secrets
/examples/node_info
/html/
/libvirt/libvirt_c.c
/libvirt/libvirt_version.ml
/ocaml-libvirt-*.exe
/ocaml-libvirt-*.tar.gz
